/* your code */
 <style>
        .container
        {
            border: 1px solid black;
            border-radius: 10px;
        }
    table {
  border-collapse: collapse;
  width: 100%;
       }
     thead
     {
    background-color: blue;
    }
    th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; 
     }
     tr:nth-child(even) {
  background-color: #D6EEEE;
}
</style>